.container{
  background: transparent;
  text-align: center;
  
}

#notification{
  transition: all 0.3s ease-out;
}

.hidden{
  visibility: hidden;
  opacity: 0;
}

.show {
  visibility: visible;
  opacity: 1;
}